    *{
    padding: 0%;
    margin: 0%;
}
.background-clip
{
    position: absolute;
    background-clip:border-box;
    right: 0;
    bottom: 0;
    z-index: -1;
    top: 20;
    object-fit: cover;
    min-width: 100% ;
    height: 660px;
    top:40px;
    display: inline-block;
}
.container{
    /* border-style:dotted ; */
    height: 1600px;
    width: 100%;
}
.page{
    /* border-style: dashed; */
    height: 700px;
    width: 100%;
}
.top{
/* border-style: dashed; */
width: 100%;
height: 40px;
background-color: #1f272b;
word-spacing: 1px;
letter-spacing: 1px;
/* position: fixed; */
}
.info{
    font-family: sans-serif;
    /* background-color: greenyellow; */
    float: left;
    color: white;
    /* border-style: dashed; */
    width:40% ;
    height: 40px;
    /* margin-top: 1%; */
    margin-left: 7%;
    font-weight: 100;
    font-size: 13px;
    /* text-align: center; */
    /* margin-top :1%; */
    padding-top:8px ; 
    /* letter-spacing: 0.5px; */
    padding-bottom: 8px;
    line-height: 25px;

}
.media{
    float: right;
    margin-right: 6%;
    margin-top: 5px;
    /* background-color: brown; */
    /* padding: 3px; */
    width: 10%;
    height: 40px;
    font-family: sans-serif;
    /* border: dotted; */
    /* line-height:20px ; */

}
.fa-facebook,.fa-twitter,.fa-whatsapp,.fa-linkedin{
    padding-top: 5%;
    padding-left: 8px;
    /* padding-right: ; */
    font-size: 14px;
    color: white;
    line-height: 40px;

}
.menu{
    background-color:#fafafa26;
    position: absolute;
    /* z-index:100 ; */
    /* top:40px; */

    border-style:hidden ;
    width: 100%;
    height: 100px;
    /* opacity: 50%; */
    margin-top:0.1px;
    display:block;
}
.logo{
    /* border-style: dashed; */
    /* background-color: beige; */
    float: left;
    letter-spacing: 1px;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    width: 20%;
    height: 100px;
    line-height: 100px;
    word-spacing: 3px;
    /* margin-top: 2%; */
    margin-left: 7%;
    letter-spacing: 2px;
    font-size: 28px;
    color: white;
    /* padding-left: 1%; */
}
.navbar{
    /* border-style: dotted; */
    /* background-color: aqua; */
    width: 45%;
    height: 25px;
    float: right;
    text-decoration: none;
    margin-top:2.5%;
    margin-right :105px; 
}
ul li {
    display: inline;
    
}
ul li a{
    text-decoration: none;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    font-size: 14px;
    /* font-size: bolder; */
    /* font-style: normal; */
    font-weight: 100;
    color: #ffff;
    /* margin-right:4px ; */
    letter-spacing: 1px;
    margin-left: 20px;
    word-spacing: 20px;
    line-height: 40px;
    height: 40px;
    
}
ul li a:hover{
    color:#f5a425;
}
.banner{
    /* border-style: dashed; */
    /* background-color: rgba(31,39,43,0.75); */
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.content{
    /* border-style: dotted; */
    width: 70%;
    height: 300px;
    float: left;
    margin-top: 6%;
    margin-left: 15px;
    

}
h1{
    color: white;
    text-transform: uppercase;
    /* letter-spacing: 0.5px; */
    font-size: 14px;
    font-family:'poppins', sans-serif;
    letter-spacing: 1.5px;
}
h2{
    color: white;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.5px; */
    font-size: 14px;
    font-family:sans-serif;
    font-weight:lighter;
    letter-spacing: 0.5px;
}
h6{
    font-family: 'poppins',sans-serif;
    font-weight: 900;
    font-size:38px ;
    text-transform: uppercase;
    color: white;

}
.content1{
    
        /* border-style: dotted; */
        height: 15px;
        width: 20%;
        /* margin-top: 2%; */
        margin-left: 8%;
        margin-top: 4%;
       line-height: 10px;
        font-weight: 300;
      
        /* color: white; */
       
        
}
.content2{
    
    /* border-style: dotted; */
    height: 50px;
    width: 55%;
    margin-left: 8%;
    margin-top: 1.5%;
    /* line-height: 30px; */
    /* text-align: center; */
   
    
}
.content3{
    
    /* border-style: dotted; */
    height: 80px;
    width: 65%;
    margin-left: 8%;
    margin-top: 1.5%;
    /* font-family: sans-serif; */
    
    letter-spacing: 0.1px;
    /* text-transform:initial; */
    color: white;
    /* font-size: 14px; */
    word-spacing: 2px;
    line-height: 25px;
}
.Button{
    
   
    height: 15px;
    width: 10%;
    margin-left: 8%;
    margin-top: 25px;
    float: left;
    text-decoration: none;
    color: white;
    background-color: #a12c2f;
    border: 2px solid #A12c2f;
    border-radius: 22px;
    padding: 12px 30px;
    /* padding-top: 8px; */
    /* font-size:small; */
    font-family:  sans-serif;
    /* font-style: bold; */
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.bottom{
    /* border-style: dotted; */
    /* background-color:rgba(31,39,43,0.75) ; */
    height: 160px;
    width: 100%;
}
.content5{
    border-style: dashed;
    width: 25%;
    height: 275px;
    float: left;
    margin-left: 90px;
    border-radius: 20px;
    background-image: url(images/service-item-bg.jpg);
}
.flip{
    /* border: solid; */
    width: 20%;
    height: 80px;
    margin-left: 30%;
    margin-top: 10%;
    padding-left: 30px;
    padding-top: 15px;
    border-radius: 50%;
}
.kart{
    width: 40%;
    height: 30px;
    border-style: solid;
    color:#fff;
    font-size: 16px;
    font-family:'poppins',sans-serif; 
    margin-left: 100px; 
    margin-top: 10px; 
    text-align: center; 
    line-height: 30px; 
    font-weight: 600;
    border: hidden;
}
.amazon{
    font-family: 'poppins',sans-serif;
    color: #fff;
    text-align: center;
    width: 70%; 
    height: 75px; 
    /* border-style: solid;  */
    font-size: 13px; 
    margin-left: 50px; 
    margin-top: 10px
}
.content6{
    border-style: dashed;
    width: 25%;
    height: 275px;
    float: left;
    margin-left: 60px;
    border-radius: 20px;
    background-image: url(images/service-item-bg.jpg);
}
.flip1{
    /* border: solid; */
    width: 20%;
    height: 80px;
    margin-left: 30%;
    margin-top: 10%;
    padding-left: 35px;
    padding-top: 15px;
    border-radius: 50%;
}
.kart1{
    width: 40%; height: 30px; border-style: solid; color:#fff; font-size: 16px;
    font-family:'poppins',sans-serif; margin-left: 100px; margin-top: 10px; 
    text-align: center; line-height: 30px; font-weight: 600;border: hidden;
}
.amazon1{
    font-family: 'poppins',sans-serif;
    color: #fff;
    text-align: center;
    width: 70%; 
    height: 75px; 
    /* border-style: solid;  */
    font-size: 13px; 
    margin-left: 50px; 
    margin-top: 10px
}
.content7{
    border-style: dashed;
    width: 25%;
    height: 275px;
    float: right;
    margin-right: 90px;
    border-radius: 20px;
    background-image: url(images/service-item-bg.jpg);
    
}
.flip2{
    /* border: solid; */
    width: 20%;
    height: 80px;
    margin-left: 30%;  
    margin-top: 10%;
    padding-left: 35px;
    padding-top: 15px;
    border-radius: 50%;   
}
.kart2{
    width: 40%; height: 30px; border-style: solid; color:#fff; font-size: 16px;
    font-family:'poppins',sans-serif; margin-left: 100px; margin-top: 10px; 
    text-align: center; line-height: 30px; font-weight: 600;border: hidden;
}
.amazon2{
    font-family: 'poppins',sans-serif;
    color: #fff;
    text-align: center;
    width: 70%; 
    height: 75px; 
    /* border-style: solid;  */
    font-size: 13px; 
    margin-left: 50px; 
    margin-top: 10px
}
.second{
    background-image: url(images/meetings-page-bg.jpg);
    width: 100%;
    height: 900px;
    border: solid;
}
.poster{
    width: 80%;
    height: 50px;
    /* border: solid; */
    margin-top: 200px;
    margin-left: 10%;
    font-family: 'poppins',sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom :2px groove;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    border-color: #212529;
}
.cat{
    border: solid;
    width: 25%;
    height: 450px;
    float: left;
    margin-top: 20px;
    margin-left: 95px;
    border-radius: 20px;
    /* background-color: #fff; */
}
.mee1{
    font-family: 'poppins',sans-serif;
    font-size: large;
    font-weight: 500px;
    text-align: center;
    padding-top: 40px;
    border: solid;
    text-align: center;
    text-transform: initial;

}
.ml{
    border: solid;
    height: 250px;
    margin-top: 30px; 

}

.m1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200; 
    border: solid; 
    height: 30px;
    width: 50%;
    margin-top:1px ;
    word-spacing: 1px;
    margin-left: 20%;
    color: #f5a425;
    text-decoration: none;
}
.m2{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500px; 
    border: solid; 
    height: 30px;
    width: 80%;
    word-spacing: 1px;
    margin-left: 20%;
    margin-top: 5px;
}
.m3{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500px; 
    border: solid; 
    height: 30px;
    width: 60%;
    word-spacing: 1px;
    margin-left: 20%;
    margin-top: 5px;
}
.m4{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500px; 
    border: solid; 
    height: 30px;
    width: 80%;
    word-spacing: 1px;
    margin-left: 20%;
    margin-top: 10px;
}
.m5{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500px; 
    border: solid; 
    height: 30px;
    width: 80%;
    word-spacing: 1px;
    margin-left: 20%;
    margin-top: 50px;
}