    *{
    padding: 0%;
    margin: 0%;
}
.background-clip
{
    position: absolute;
    background-clip:border-box;
    right: 0;
    bottom: 0;
    z-index: -1;
    top: 20;
    object-fit: cover;
    min-width: 100% ;
    height: 660px;
    top:40px;
    display: inline-block;
}
.container{
    height: 2000px;
    width: 100%;
}
.page{
    height: 700px;
    width: 100%;
}
.top{
width: 100%;
height: 40px;
background-color: #1f272b;
word-spacing: 1px;
letter-spacing: 1px;
}
.info{
    font-family: sans-serif;
    float: left;
    color: white;
    width:40% ;
    height: 40px;
    margin-left: 7%;
    font-weight: 100;
    font-size: 13px;
    padding-top:8px ; 
    padding-bottom: 8px;
    line-height: 25px;

}
.media{
    float: right;
    margin-right: 6%;
    margin-top: 5px;
    width: 10%;
    height: 40px;
    font-family: sans-serif;
}
.fa-facebook,.fa-twitter,.fa-whatsapp,.fa-linkedin{
    padding-top: 5%;
    padding-left: 8px;
    font-size: 14px;
    color: white;
    line-height: 40px;

}
.menu{
    background-color:#fafafa26;
    position: absolute;
    border-style:hidden ;
    width: 100%;
    height: 100px;
    margin-top:0.1px;
    display:block;
}
.logo{
    float: left;
    letter-spacing: 1px;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    width: 20%;
    height: 100px;
    line-height: 100px;
    word-spacing: 3px;
    margin-left: 7%;
    letter-spacing: 2px;
    font-size: 28px;
    color: white;
}
.navbar{
    width: 45%;
    height: 25px;
    float: right;
    text-decoration: none;
    margin-top:2.5%;
    margin-right :105px; 
}
ul li {
    display: inline;
    
}
ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 100;
    color: #ffff;
    letter-spacing: 1px;
    margin-left: 20px;
    word-spacing: 20px;
    line-height: 40px;
    height: 40px;
    
}
ul li a:hover{
    color:#f5a425;
}
.banner{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.content{
    width: 70%;
    height: 300px;
    float: left;
    margin-top: 6%;
    margin-left: 15px;
    

}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family:'poppins', sans-serif;
    letter-spacing: 1.5px;
}
h2{
    color: white;
    font-size: 14px;
    font-family:sans-serif;
    font-weight:lighter;
    letter-spacing: 0.5px;
}
h6{
    font-family: 'poppins',sans-serif;
    font-weight: 900;
    font-size:38px ;
    text-transform: uppercase;
    color: white;

}
.content1{
        height: 15px;
        width: 20%;
        margin-left: 8%;
        margin-top: 4%;
       line-height: 10px;
        font-weight: 300;
}
.content2{
    height: 50px;
    width: 55%;
    margin-left: 8%;
    margin-top: 1.5%;
}
.content3{
    height: 80px;
    width: 65%;
    margin-left: 8%;
    margin-top: 1.5%;
    letter-spacing: 0.1px;
    color: white;
    word-spacing: 2px;
    line-height: 25px;
}
.Button{
    height: 15px;
    width: 10%;
    margin-left: 8%;
    margin-top: 25px;
    float: left;
    text-decoration: none;
    color: white;
    background-color: #a12c2f;
    border: 2px solid #A12c2f;
    border-radius: 22px;
    padding: 12px 30px;
    font-family:  sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.bottom{
    height: 160px;
    width: 100%;
}
.content5{
    width: 25%;
    height: 275px;
    float: left;
    margin-left: 90px;
    border-radius: 20px;
    background-image: url(images/service-item-bg.jpg);
}
.flip{
    width: 20%;
    height: 80px;
    margin-left: 30%;
    margin-top: 10%;
    padding-left: 30px;
    padding-top: 15px;
    border-radius: 50%;
}
.kart{
    width: 40%;
    height: 30px;
    border-style: solid;
    color:#fff;
    font-size: 16px;
    font-family:'poppins',sans-serif; 
    margin-left: 100px; 
    margin-top: 10px; 
    text-align: center; 
    line-height: 30px; 
    font-weight: 600;
    border: hidden;
}
.amazon{
    font-family: 'poppins',sans-serif;
    color: #fff;
    text-align: center;
    width: 70%; 
    height: 75px; 
    font-size: 13px; 
    margin-left: 50px; 
    margin-top: 10px
}
.content6{
    width: 25%;
    height: 275px;
    float: left;
    margin-left: 60px;
    border-radius: 20px;
    background-image: url(images/service-item-bg.jpg);
}
.flip1{
    width: 20%;
    height: 80px;
    margin-left: 30%;
    margin-top: 10%;
    padding-left: 35px;
    padding-top: 15px;
    border-radius: 50%;
}
.kart1{
    width: 40%; height: 30px; border-style: solid; color:#fff; font-size: 16px;
    font-family:'poppins',sans-serif; margin-left: 100px; margin-top: 10px; 
    text-align: center; line-height: 30px; font-weight: 600;border: hidden;
}
.amazon1{
    font-family: 'poppins',sans-serif;
    color: #fff;
    text-align: center;
    width: 70%; 
    height: 75px; 
    font-size: 13px; 
    margin-left: 50px; 
    margin-top: 10px
}
.content7{
    width: 25%;
    height: 275px;
    float: right;
    margin-right: 90px;
    border-radius: 20px;
    background-image: url(images/service-item-bg.jpg);
    
}
.flip2{
    width: 20%;
    height: 80px;
    margin-left: 30%;  
    margin-top: 10%;
    padding-left: 35px;
    padding-top: 15px;
    border-radius: 50%;   
}
.kart2{
    width: 40%; height: 30px; border-style: solid; color:#fff; font-size: 16px;
    font-family:'poppins',sans-serif; margin-left: 100px; margin-top: 10px; 
    text-align: center; line-height: 30px; font-weight: 600;border: hidden;
}
.amazon2{
    font-family: 'poppins',sans-serif;
    color: #fff;
    text-align: center;
    width: 70%; 
    height: 75px; 
    font-size: 13px; 
    margin-left: 50px; 
    margin-top: 10px
}
.second{
    background-image: url(images/meetings-page-bg.jpg);
    width: 100%;
    height: 1200px;
    /* border: solid; */
}
.poster{
    width: 80%;
    height: 50px;
    padding-top: 200px;
    margin-left: 10%;
    font-family: 'poppins',sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom :2px groove;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    border-color: #212529;
}
.cat1{
    height: 600px;
    width: 25%;
    margin-top: 10px;
    margin-left: 95px;
    float: left;
}
.cat{
  
    width: 100%;
    height: 450px;
    border-radius: 20px;
    background-color: #fff;
    
}
.mee1{
    font-family: 'poppins',sans-serif;
    font-size: large;
    font-weight: 500px;
    padding-top: 40px;
    width: 70%;
    padding-left: 40px;

}
.ml{
    height: 250px;
    padding-top: 15%; 


}

.m1{
    
    height: 30px;
    width: 50%;
    margin-top:1px ;
    margin-left: 10%;
}
.m1 a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200; 
    text-decoration: none;
    word-spacing: 1px;
    color: #1f272b;
}
.m1 a:hover{
    color: #f5a425;
}
.m2{
   
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}
.m2 a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200; 
    text-decoration: none;
    word-spacing: 1px;
    color: #1f272b;
}
.m2 a:hover{
    color: #f5a425;
}
.m3{
   
    height: 30px;
    width: 50%;
    margin-left: 10%;
    margin-top: 5px;
}
.m3 a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200; 
    text-decoration: none;
    word-spacing: 1px;
    color: #1f272b;
}
.m3 a:hover{
    color: #f5a425;
}
.m4{
  
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}
.m4 a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500; 
    text-decoration: none;
    word-spacing: 1px;
    color: #1f272b;
}
.m4 a:hover{
    color: #f5a425;
}
.m5{
  
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;

}
.m5 a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500; 
    text-decoration: none;
    word-spacing: 1px;
    color: #1f272b;
}
.m5 a:hover{
    color: #f5a425;
}
.Button1 {
    height: 15px;
    width: 60%;
    margin-left: 8%;
    margin-top: 15px;
    float: left;
    text-decoration: none;
    color: white;
    background-color: #a12c2f;
    border: 4px solid #A12c2f;
    border-radius: 22px;
    padding: 12px 30px;
    font-family:  sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.box1{
    width: 25%;
    /* border-style: solid; */
    height: 350px;
    float: left;
    border-radius: 20px;
    margin-left: 90px;  
}

.box2{
    width: 25%;
    border-style: solid;
    height: 400px;
    float: right;
    border-radius: 20px;
    margin-right: 80px;
}
.box3{
    width: 25%;
    height: 430px;
    float: left;
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 80px;
}
.box4{
    width: 25%;
    height: 360px;
    float: right;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 80px;
}
.img1{
    background-image: url(images/meeting-01.jpg);
    height: 180px;
    width:100% ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 20px;
}
.img2{
    background-image: url(images/meeting-02.jpg);
    height: 190px;
    width:100% ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 20px;
}
.img3{
    background-image: url(images/meeting-03.jpg);
    height: 190px;
    width:100% ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 20px;
}
.img4{
    background-image: url(images/meeting-04.jpg);
    height: 190px;
    width:100% ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 20px;
}
.rate1{ 
    height: 35px;
    width: 20%;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'poppins',sans-serif;
    margin-left: 10px;
    float: left;
    text-align: center;
}
.common1{
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.common2{
    width: 100%;
    height: 190px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.common3{
    width: 100%;
    height: 220px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.common4{
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.date{
    border-style: solid;
    height: 40px;
    width: 20%;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
    font-family: 'poppins',sans-serif;
}
